.ant-list-item-meta-content {
    padding-right: 10px;
}

.teacher-list {
    width: 90%;
    display: flex;

}

.list {
    width: 90%;
    margin: 0.5rem 1rem;
}

.list-card {
    width: 40%;
    margin: 10px;
    border-radius: 19px;
    background-color: white;
}

.list-title {
    padding: 0 1.6rem;
    margin: 0.5rem 1rem 0.5rem 1.5rem;

}