* {
    font-family: 'Poppins';
    font-style: normal;
}

.statistic {
    background-image: url("../../../assets/shape.png");
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: row;
     justify-content:center;
    gap: 4rem
}

.statistic p {
    color: var(--white);
}

.right,
.left {
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    text-align: center;
}

.left {
    width: 30%;
    padding-top:1.3rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.number {
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.number h1 {
    padding: 0%;
    margin: 0%;
}

h1 .text-number {
    height: 144px;
    font-weight: 700;
    font-size: 55px;

}

.right h1 {
    height: 144px;
    font-weight: 600;
    font-size: 50px;
    color: white;

}

.right h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: white;

}