.class-feedback {
  width: 100%;
  height: 100%;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.class-feedback section {
  box-shadow: none;
}

.class-feedback h1{
  font-size: 2rem;
  margin: 0;
  font-weight: 600;
}

.add-feedback-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: var(--white);
  padding: 1rem 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.input-field {
  width: 100% !important;
  padding: 0.4rem 1rem;
  border-radius: 5px;
}

.submit-btn {
  padding: 0.3rem 1rem;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

::placeholder {
  color: #949494 !important;
}

.feedbacks-boxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  display: flex;
  overflow: auto;
  padding: 0.5rem;
}

.feedback-card {
  width: inherit;
  display: flex;
  align-items: flex-start;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.feedback-card P {
  font-size: 1rem;
  color: #666666;
}