:root {
    --Carmine-Pink: #ED4C4C;
    --Caribbean-Green: #0CBE8A;
    --Gray: #7C7C7C;
    --Gainsboro: #DFDFDF;

}

.icon-title {
    background-color: var(--Caribbean-Green);
    width: 37.42px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.title-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title-side p {
    padding: 17px 10px 0 0;
}

h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 97%;
}

.title-content {
    display: flex;
    align-items: center;
}

.card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.left {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 40%;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
}

.turnedOn,
.missing {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.turnedOn {
    color: var(--Caribbean-Green);
    border-right: 1px solid var(--Gainsboro);
}

.assignment-content {
    color: var(--Gray);
}

.missing {
    color: var(--Carmine-Pink);
}