 :root {
    --Carmine-Pink: #ED4C4C;
    --Caribbean-Green: #1B93CB;
    --Gray: #7C7C7C;
    --Gainsboro: #DFDFDF;
} 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

.icon-title {
    background-color: var(--Caribbean-Green);
    width: 37.42px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.title-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-side p {
    padding: 17px 10px 0 0;
}

.title-side span {
    font-size: 1.5rem;
    cursor: pointer;
}

h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}

.title-content {
    display: flex;
    align-items: center;
}

.card-content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-bottom: 33px;
}

.assignment_left {
    display: flex;
    justify-content: flex-start;
    /* border-left: 1px solid var(--Gainsboro); */
    flex: 2;
    min-height: 100px;
}

.assignment_right {
    display: flex;
    align-items: center;
    flex: 1;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    padding: 0 12px;
}

.turnedOn, .missing  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.turnedOn {
    border-left: 2px solid #DFDFDF;
}


.turnedOn button,
.missing button {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    font-size: 20px;
    margin: 0 12px;

}

.turnedOn button {
    color: var(--Caribbean-Green) !important;
}

.missing button {
    color: var(--Carmine-Pink) !important;
}

.assignment-content {
    color: var(--Gray);
}

.student-box {
    width: 100%;
    display: flex;
    min-height: 5rem;
    padding: 0.8rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 1rem;
}

.student-box img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--Gray);
}

.student-box .name {
    width: 50%;
    font-size: 0.5rem;
    color: var(--Gray);
} 

.assignment-box {
    margin-top: 24px;
    background-color: #fff;
    border-radius: 10px;
}

.assignment-box .ant-card-body {
    padding: 0 !important;
    margin: 0 48px;
}

.ant-card {
    margin-bottom: 8px !important;
    border-radius: 10px !important;
}

.del_btn_section {
    margin: 0px 48px 0px 48px;
}

.del_btn_section .ant-btn-dangerous {
    display: flex;
    align-items: center;
    padding: 8px 18px;
}
