.collapse {
  width: 100%;
  padding: 0.5rem 3rem;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #ddd !important;
  box-shadow: none !important;
  background-color: #fff !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0.2rem !important;
}

.collapse .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.collapse .row > * {
  width: 100%;
}