* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#chat-box {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

#chat-box p {
  margin: 0;
}

#chat-box h1 {
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  margin: 0;
}

#chat-box .chat-container {
  width: 60%;
  background-color: var(--white);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0#cccccc;
  height: 100%;
  overflow: hidden;
}

#chat-box .chat-container .chat-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  height: 100%;
  border: 1px solid #cccccc;
  padding: 1rem 1rem;
  border-radius: 10px;
  background-color: #F8F9FB;
}

#chat-box .chat-container .chat-message::-webkit-scrollbar {
  width: 2px;
}

#chat-box .chat-container .chat-message > p {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #bbbbbb;
}

#chat-box .chat-container .chat-message .message-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row-reverse;
}

#chat-box .chat-container .chat-message .message-info div:nth-child(1) {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 1px;
  border: 0.5px solid var(--second-color);
  overflow: hidden;
}

#chat-box .chat-container .chat-message .message-info.message-active {
  flex-direction: row;
}

#chat-box .chat-container .chat-message .message-info.message-active div:nth-child(2) {
  flex-direction: row;
}

#chat-box .chat-container .chat-message .message-info div:nth-child(2) {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
}

#chat-box .chat-container .chat-message .message-info.message-active div:nth-child(2) span {
  right: 10px;
}

#chat-box .chat-container .chat-message .message-info div:nth-child(2) span {
  font-size: 0.5rem;
  position: absolute;
  left: 10px;
  bottom: -12px;
}

#chat-box .chat-container .chat-message .message-info.message-active p {
  background-color: var(--second-color);
  color: var(--white);
  border: 1px solid #ffffff;
}

#chat-box .chat-container .chat-message .message-info div:nth-child(1) img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#chat-box .chat-container .chat-message .message-info p {
  padding: 0.3rem 1rem;
  background-color: var(--white);
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid #cccccc;
  box-shadow: 0 0px 4px 0 #cccccc;
}

#chat-box .chat-container .chat-message .message-info.message-active p {
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#chat-box .chat-container .form-message {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border: 1px solid #cccccc;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #F8F9FB;
}

#chat-box .chat-container .form-message input {
  width: 100%;
  border-radius: 5px;
  border: 0;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  outline: 1px solid var(--second-color);
  box-shadow: 0 2px 4px 0 #cccccc;
}

#chat-box .chat-container .form-message input:focus {
  outline: 1px solid var(--second-color);
  border: 0;
}

#chat-box .chat-container .form-message button {
  padding: 0.5rem 1rem;
  background: var(--main-color);
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  color: var(--white);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 2px 4px 0 #cccccc;
}

#chat-box .chat-container .form-message button:hover {
  outline: 1px solid var(--second-color);
  color: var(--second-color);
  background: inherit;
}